<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Base</title>
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="icon" type="image/x-icon" href="static/brain.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet"/> -->
    <link rel="icon" type="image/x-icon" href="static/brain.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'FSApp.css' %}">
    
</head>
<body>
    <div class="all">
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
              <ul class="nav navbar-nav">
      
                {# Django Home Link / Admin Link / Register Link#}
                <li><a class="navbar-brand" href="http://127.0.0.1:8000/FSApp/">Bookshop</a></li>
                {% if authorized %} 
                <li><a class="navbar-link" href="http://127.0.0.1:8000/admin/">Admin</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                  <li><a class="navbar-link" href="#">Hello, {{user.username}}</a></li>
                  <li><a class="navbar-link" href="http://127.0.0.1:8000/FSApp/user_logout/">Logout</a></li>
                {% else %}
                  <li><a class="navbar-link" href="http://127.0.0.1:8000/FSApp/user_login/">Login</a></li>
                  <li><a class="navbar-link" href="http://127.0.0.1:8000/FSApp/register/">Register</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>  
<h1>{{msg}}</h1>

<a href="http://127.0.0.1:8000/FSApp/" style="    text-decoration: none;
user-select: colo;
user-select: none;
background-color: green;
color: white;
padding: 20px;
font-size: 20px;
border-radius: 5px;
margin-top: 30px;">Back to Dashboard</a>